@{
	Layout = "~/Views/Shared/_Index.cshtml";
	var infoTabPage = Html.GetRuntimePage("Details");
	var permissionTabPage = Html.GetRuntimePage("Permissions");
	var menuTabPage = Html.GetRuntimePage("Menus");
	var accountTabPage = Html.GetRuntimePage("Accounts");
	var groupTabPage = Html.GetRuntimePage("Groups");
	var prifix = "AC_Role_Index_";
}
<div id="@(prifix)helperSplitter" class="mini-splitter helperSplitter" style="width: 100%; height: 100%;">
	<div showcollapsebutton="true">
		<div class="mini-splitter" style="width: 100%; height: 100%;">
			<div size="350" showcollapsebutton="true">
				<div class="mini-toolbar" style="border: 0; padding: 2px;">
					<div style="float: left">
						@{Html.RenderPartial("Partials/PageButtons");}
					</div>
					<div style="float: right">
					</div>
					<div style="clear: both;">
					</div>
				</div>
				<!--撑满页面-->
				<div class="mini-fit">
					<div id="@(prifix)datagrid1" class="mini-datagrid" style="width:100%;height:100%;" allowalternating="true"
						 url="@Url.Action("GetPlistRoles")" idfield="Id" multiselect="true" showmodified="false"
						 sizelist="[5,10,20,50]" pagesize="20" showfilterrow="true">
						<div property="columns">
							<div type="indexcolumn"></div>
							<div type="checkcolumn"></div>
							<div name="action" width="70" headeralign="center" align="center" cellstyle="padding:0;">
								<a id="@(prifix)btnSearchClear" property="filter" class="mini-button" style="float: right;">条件清空</a>
							</div>
							<div field="Name" width="150" headeralign="center" allowsort="true">
								@Html.IconLabel("Name")
								<input id="@(prifix)NameFilter" name="Name" property="filter" class="mini-textbox" style="width: 100%;" />
							</div>
							<div field="IsEnabled" width="80" headeralign="center" align="center" allowsort="true">
								@Html.IconLabel("IsEnabled")
								<input id="@(prifix)IsEnabledFilter" property="filter" name="IsEnabled" class="mini-combobox" style="width: 100%;"
									   textfield="name" valuefield="code" data="@Html.DicItemJsonArray(Html.GetProperty("IsEnabled"))" shownullitem="true" />
							</div>
							<div field="CategoryCode" width="90" headeralign="center" allowsort="true">
								@Html.IconLabel("CategoryCode")
								<input id="@(prifix)CategoryCodeFilter" property="filter" name="CategoryCode" class="mini-combobox" style="width: 100%;"
									   textfield="name" valuefield="code" data="@Html.DicItemJsonArray(Html.GetProperty("CategoryCode"))" shownullitem="true" />
							</div>
							<div field="SortCode" width="70" headeralign="center" align="center" allowsort="true">
								@Html.IconLabel("SortCode")
							</div>
						</div>
					</div>
				</div>
			</div>
			<div showcollapsebutton="true">
				<div id="@(prifix)tabs1" class="mini-tabs" style="width: 100%; height: 100%;display:none;"
					 activeindex="0" bodystyle="padding:0;border:0;">
					<div name="infoTab" bodycls="inner" title="@infoTabPage.Title" iconstyle="background:url(/content/icons/16x16/@infoTabPage.Icon)">
					</div>
					<div name="permissionTab" bodycls="inner" title="@permissionTabPage.Title" iconstyle="background:url(/content/icons/16x16/@permissionTabPage.Icon)">
					</div>
					<div name="menuTab" bodycls="inner" title="@menuTabPage.Title" iconstyle="background:url(/content/icons/16x16/@menuTabPage.Icon)">
					</div>
					<div name="accountTab" bodycls="inner" title="@accountTabPage.Title" iconstyle="background:url(/content/icons/16x16/@accountTabPage.Icon)">
					</div>
					<div name="groupTab" bodycls="inner" title="@groupTabPage.Title" iconstyle="background:url(/content/icons/16x16/@groupTabPage.Icon)">
					</div>
					@{
						var operationLogPage = this.GetOperationLogEntityType();
						if (operationLogPage.Permit()) {
						<div name="operationLogTab" bodycls="inner" title="@operationLogPage.Title" iconstyle="background:url(/content/icons/16x16/@operationLogPage.Icon)">
						</div>
						}
					}
				</div>
			</div>
		</div>
	</div>
	<div size="250" showcollapsebutton="true" visible="false" expanded="false">
		@{Html.RenderPartial("Partials/HelpPane");}
	</div>
</div>
